*{
    color: #263852;
    font-family: 'Roboto', sans-serif;
}
/* <!-- NavBar --> */
.Navbar{
    background-color: #273852;
    display: flex;
    justify-content: center;
}
.Navbar-heading{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-style: solid;
    border-color: #d45d47;
    border-width: 2px;
}
.Navbar-heading p{
    font-size: 50%;
    margin-top: 0px;
    font-weight: bold;
}
.Navbar-heading h3{
    font-size: larger;
    margin-top: 2%;
    margin-bottom: 3%;
}
/* <!-- First Section --> */
.First-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    border-bottom: #979fab;
    border-bottom-style: inset;
    border-width: 1px;
    margin-left: 2%;
    margin-right: 2%;
}
.First-section p{
    color: #222222;
    font-weight: bold;
    font-size: small;
    margin-bottom: 5%;

}
.First-section select{
    width: 120%;
    height: 30px;
    margin-right: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
}
.First-section input[type=button]{
    background-color: #222222;
    color: white;
    /* border: hidden; */
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    margin-left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
}
.First-section input[type=text]{
    height: 25px;
    margin-right: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
}
.FirstSection-section1{
    width: 20%;
}
.FirstSection-section2 h2{
    padding-top: 18%;
}
/* <!-- Title Body --> */
.TitleBody-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    border-bottom-style: solid;
    border-color: #979fab;
    border-width: .5px;
}
.body-title{
    padding-left: 3%;
    padding-right: 15%;
    font-size: 80%;
    text-align: justify;
}
.body-title h3{
    font-size: 150%;
}
.body-title input[type=button]{
    background-color: #d45c47;
    color: #d4cfd0;
    border: hidden;
    padding: 1%;
}
/* <!-- footer --> */
.footer{
    display: flex;
    background-color: #273852;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: auto;
}
.footer-content p{
    color: #e9e9e9;
}

/* media queries */



@media only screen and (max-width: 550px) {
    /* First Section collapsing */
    .First-section{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        /* border-bottom: #979fab;
        border-bottom-style: inset;
        border-width: 1px; */
    }
    .FirstSection-section1{
        width: auto;
        order: 1;
    }
    .FirstSection-section2{
        order: 3;
    }
    .FirstSection-section3{
        order: 2;
    }
    .FirstSection-section2 h2{
        font-size: 200%;
    }
    /* Main body Collapsing */
    .TitleBody-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5%;
    }
    .TitleBody-row h3{
        font-size: 200%;
    }
    .TitleBody-row p{
        font-size: 150%;
    }
    .body-image{
        display: flex;
        justify-content: center;
    }
    .body-title input[type = button]{
        width: 100%;
    }
  }